<div class="jumbotron">
    <h1 class="display-4" >TypescriptApp</h1>
    <p class="lead"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum eveniet eligendi quasi libero quaerat possimus?

    </p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, magni?
    <a href="#" class="btn btn-primary btn-lg">
        task list
    </a>
</div>